@model List<ModelEF.Model.Category>
<footer id="footer">
	<!-- top footer -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<div class="col-md-3 col-xs-6">
					<div class="footer">
						<h3 class="footer-title">Về chúng tôi</h3>
						<ul class="footer-links">
							<li><a href="#"><i class="fa fa-map-marker"></i>48 Cao Thắng</a></li>
							<li><a href="#"><i class="fa fa-phone"></i>+843-4497-6831</a></li>
							<li><a href="#"><i class="fa fa-envelope-o"></i>datnguyennguyen.2000@email.com</a></li>
						</ul>
					</div>
				</div>

				<div class="col-md-3 col-xs-6">
					<div class="footer">
						<h3 class="footer-title">Loại sách</h3>
						<ul class="footer-links">
							@foreach (var item in Model)
							{
								var url = item.Metatitle;
								<li><a href="@url">@item.Name</a></li>
							}
						</ul>
					</div>
				</div>

				<div class="clearfix visible-xs"></div>

				<div class="col-md-3 col-xs-6">
					<div class="footer">
						<h3 class="footer-title">Thông tin</h3>
						<ul class="footer-links">
							<li><a href="#">Liên hệ</a></li>
							<li><a href="#">Tuyển dụng</a></li>
							<li><a href="#">Chính sách bảo mật và thanh toán</a></li>
							<li><a href="#">Bán sách giá tốt</a></li>
						</ul>
					</div>
				</div>

				<div class="col-md-3 col-xs-6">
					<div class="footer">
						<h3 class="footer-title">Dịch vụ</h3>
						<ul class="footer-links">
							<li><a href="#">Tài khoản của tôi</a></li>
							<li><a href="#">Xem giỏ hàng</a></li>
							<li><a href="#">Yêu thích</a></li>
							<li><a href="#">Kiểm tra đơn hàng</a></li>
							<li><a href="#">Hỗ trợ</a></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /top footer -->
	<!-- bottom footer -->
	<div id="bottom-footer" class="section">
		<div class="container">
			<!-- row -->
			<div class="row">
				<div class="col-md-12 text-center">
					<ul class="footer-payments">
						<li><a href="#"><i class="fa fa-cc-visa"></i></a></li>
						<li><a href="#"><i class="fa fa-credit-card"></i></a></li>
						<li><a href="#"><i class="fa fa-cc-paypal"></i></a></li>
						<li><a href="#"><i class="fa fa-cc-mastercard"></i></a></li>
						<li><a href="#"><i class="fa fa-cc-discover"></i></a></li>
						<li><a href="#"><i class="fa fa-cc-amex"></i></a></li>
					</ul>
					<span class="copyright">
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						Copyright &copy;
						<script>document.write(new Date().getFullYear());</script> All rights reserved | Made <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://facebook.com/seeyours" target="_blank"><p>Nguyễn Thành Đạt</p></a>
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					</span>
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /bottom footer -->
</footer>

